{% extends "base.html" %}
{% block header %}

<header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/contact.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Update Task</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div>

        <div class="form">
            <form action="/update/{{task.id}}" method="POST">
                <div class="form-group">
                <input type="text" class="form-control" name="content" style="margin:0px auto; width: 30%" value="{{ task.content }}"> 
                </div>
                <button type="submit" class="btn btn-primary" style="text-align: center; display: flex; margin: auto;">Update Task</button>
            </form>
        </div>
    
    </div>
</div>
{% endblock %}